<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.app_title }}</title>
    <!-- <link rel="shortcut icon" type="image/png" href="../../../static/srtdash/images/icon/favicon.ico"> -->
    <link rel="stylesheet" href="../../../static/srtdash/css/bootstrap.min.css">
    <!-- bootstrap vs 4.00 -->
    <link rel="stylesheet" href="../../../static/srtdash/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/themify-icons.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/metisMenu.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/slicknav.min.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/typography.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/default-css.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/styles.css">
    <link rel="stylesheet" href="../../../static/srtdash/css/responsive.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="main-content">
            {{embed}}
        </div>
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.
                </p>
            </div>
        </footer>
    </div>

    <script src="../../../static/srtdash/js/popper.min.js"></script>
    <script src="../../../static/srtdash/js/bootstrap.min.js"></script>
    <script src="../../../static/srtdash/js/metisMenu.min.js"></script>
    <script src="../../../static/srtdash/js/jquery.slimscroll.min.js"></script>
    <script src="../../../static/srtdash/js/jquery.slicknav.min.js"></script>
    <script src="../../../static/srtdash/js/plugins.js"></script>
    <script src="../../../static/srtdash/js/scripts.js"></script>

</body>

</html>